# Dependencies
node_modules

# Nuxt build output
.nuxt
.output
dist

# Nuxt cache
.nuxt/cache

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode
.idea
*.suo
*.user

# OS
.DS_Store
Thumbs.db
